<div class="center hero-unit">
<h1>Welcome to the One Month Rails Sample App</h1>
<p>
	You've found the home page for TJ's
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	application.
</p>
<p>
<%= link_to "Sign Up Now!", "#", class: "btn btn-large btn-primary" %>
</p>
</div>


